<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Welcome {{user.first_name}}</h3>
    <a href="/addadmin/"><button style="padding: 10px;margin: 10px;">Add Admin</button></a>
    <a href="/adduser/"><button style="padding: 10px;margin: 10px;">Add Users</button></a>

    <a href="/logout/"><button style="padding: 10px;margin: 10px;">Logout</button></a>
</body>
</html>